.page-header h1 {
    margin-top: 0px;
}

.page-header {
    height: 286px;
    margin-top: 0px;
    margin-bottom: 0px;
    background-size: contain;
    background-image: url(../images/banner.jpg);
}

.navbar-container {
    background-color: #758a5f;
}

.navbar-container a{
    color:black !important;
}

.homepage {
    width: 100%;
}

.grid-container {
    display: grid;
    align-content: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    background-color: #758a5f;
    padding: 10px;
  
    > div {
      background-color: #D9EF9D;
      text-align: center;
      padding: 20px 0;
      font-size: 30px;
    }
}